{% extends 'layout.html' %}
{% block seo_meta %}
    <title>PoorCMS - dla ubogich</title>
    <meta name="description" content="Taki tam bieda CMS.">
{% endblock seo_meta %}
{% block content %}
    <h1 class="title has-text-centered">PoorCMS</h1>
    <p class="has-text-centered">CMS dla ubogich.</p>
    <p class="has-text-centered mt-3">
        <img src="https://www.wykop.pl/cdn/c3201142/comment_sTCLRZfkPElbgW1Q4Dpbjb0HQugdWH1G.jpg" alt="Tak się żyje na tej wsi">
    </p>
{% endblock content %}
