<nav class="navbar is-info custom-navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a href="{{ url_for('index') }}" class="navbar-item is-size-4">
            PoorCMS
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="customNavbar">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    
    <div id="customNavbar" class="navbar-menu">
        <div class="navbar-start">
            {% for page in menu_pages %}
                <a href="/" class="navbar-item">{{ page.title }}</a>
            {% endfor %}
        </div>
    </div>
</nav>
