<nav class="navbar is-info custom-navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a href="{{ url_for('index') }}" class="navbar-item is-size-4">
            PoorCMS
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="customNavbar">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    
    <div id="customNavbar" class="navbar-menu">
        <div class="navbar-start">
            {% for page in menu_pages %}
                <a href="{{ url_for('static_page', page_id=page.id) }}" class="navbar-item">{{ page.title }}</a>
            {% endfor %}
        </div>
        <div class="navbar-end">
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('logout') }}" class="navbar-item">Logout</a>
            {% else %}
                <a href="{{ url_for('login') }}" class="navbar-item">Login</a>
                <a href="{{ url_for('register') }}" class="navbar-item">Register</a>
            {% endif %}
        </div>
    </div>
</nav>
