{% extends 'layout.html' %}
{% block content %}
    <section class="section">
        <h1 class="title has-text-centered">New static page</h1>
        <form method="POST" action="">
            {{ form.csrf_token }}
            <div class="field">
                {{ form.title.label(class='label') }}
                <div class="control">
                    {% if form.title.errors %}
                        {{ form.title(class='is-invalid input')}}
                        {% for error in form.title.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                    {{ form.title(class='input') }}
                </div>
            </div>
            <div class="field">
                {{ form.content.label(class='label') }}
                <div class="control">
                    {% if form.content.errors %}
                        {{ form.content(class='is-invalid textarea')}}
                        {% for error in form.content.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                    {{ form.content(class='textarea') }}
                </div>
            </div>
            <div class="field">
                <label for="In menu" class="checkbox">
                    In menu
                    {{ form.in_menu(class='checkbox') }}
                </label>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    {{ form.submit(class='button is-link') }}
                </div>
            </div>
        </form>
        {% if edit_page %}
            <form action="{{ url_for('delete_static_page',
                            page_id=page.id) }}" method="POST">
                <div class="field mt-1">
                    <div class="control">
                        <input type="submit" class="button is-link is-danger" 
                            value="Delete">
                    </div>
                </div>
            </form>
        {% endif %}
    </section>
{% endblock content %}
